# Ignore everything but what is allowed here.
*
# Allow dot files in the root directory.
!.gitignore
!.github/
!.github/*
!.github/**/*
!.env.sample
!.nvmrc
!.dockerignore
!docker-compose.yml
!Dockerfile
!README.md
!requirements.txt
!tars.sh
!*.py
!docs/
!docs/*
!web
!web/*.*
!web/**/*
web/.vscode
web/node_modules



