# Ignore everything but what is allowed here.
*
# Allow dot files in the root directory.
!.gitignore
!.github/
!.github/*
!.env.sample
!.nvmrc
!.dockerignore
!docker-compose.yml
!Dockerfile
!README.md
!requirements.txt
!*.py
!docs/
!docs/*
!templates/
!/templates/*
!vue
!vue/*.*
!vue/**/*
vue/.vscode
vue/node_modules



