# Ignore everything but what is allowed here.
*
# Whitelist.
!.gitignore
!.github/
!.github/*
!.github/**/*
!.env.sample
!.nvmrc
!.dockerignore
!docker-compose.yml
!Dockerfile
!README.md
!requirements.txt
!tars.sh
!tars-setup.sh
!*.py
!app/
!app/*.*.py
!docs/
!docs/*
!tests/
!tests/*.*.py
!web
!web/*.*
!web/**/*
**/.DS_Store
web/.vscode
web/node_modules



