body {
	background: #000 url("/public/img/interstellar.webp") no-repeat right center fixed !important;
	background-size: cover !important;

	pre {
		line-height: 1;
		white-space: break-spaces;
		padding: 20px;
		margin: 20px 0;
		background: rgba(24, 24, 27, 0.55);
		border-radius: .375rem;
		border: 1px solid rgba(255,255,255, 0.15);

		code[class*="language-"] {
			font-size: 13px;
			color: #ddd;
		}
	}

	.chat_list {
		&__item { // Inside of chat items.

			&:last-child {
				margin-bottom: 0;
			}

			ul {
				list-style: disc;
				margin: 10px 0 10px 1.5rem;
				li {
					padding: 3px;
				}
			}
		}
	}
}
